html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0 2rem 0 0;
}

p {
  font-size: 1.5rem;
  display: flex;
}

.text {
  width: 120%;
}

.img-div {
  width: 100%;
}

.hero {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.content {
  display: flex;
  width: 100%;
  max-width: 45em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  justify-content: center;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #ccc;
}
