html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-hero {
  display: inline-flex;
  width: 100%;
  max-width: 45em;
}

.banner-img {
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: left;
  width: 100%;
  max-width: 45em;
  padding: 1.5rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #ccc;
}
